export PATH=$PATH:$HOME/bin
export EDITOR="nvim"
export BROWSER="firefox"


(xrandr | grep "HDMI-1-1 disconnected" && xrandr --output eDP-1-1 --auto) || \
(xrandr | grep "HDMI-1-1 connected" && xrandr --output HDMI-1-1 --auto && xrandr --output eDP-1-1 --off	&& xset dpms 0 0 0 && xset -dpms && xset -dpms && xset s off && setterm -balnk 0)

imwheel
setterm -blength 0

feh --bg-scale ~/pictures/wallpapers/current_wallpaper.jpg

setxkbmap -layout "us,cz_qwerty" -option "grp:ctrl_shift_toggle"

